# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
*.cmd text eol=crlf
*.csproj text eol=crlf
*.sln text eol=crlf

# Explicitly mark certain filetypes as binary
*.gif binary
*.jpeg binary
*.jpg binary
*.pdf binary
*.png binary
