# `.gitattributes` files override the `core.autocrlf` setting and move decisions
# about line endings out of global config and into the repository itself.

################################################################################
# Mark some files as always to be checked out with CRLF line endings. This is to
# prevent breaking things when moving files between platforms outside git (i.e.
# via FTP). If you add an extension to this list you MUST ALSO add it to
# the .editorconfig file.
################################################################################
*.bat text eol=crlf
*.cmd text eol=crlf

################################################################################
# Explicitly mark certain filetypes as binary.
# This is not strictly required--git will use its own heuristics to detect
# binary files. However we can avoid edge cases by doing explicit listing here.
################################################################################
*.eot binary
*.gif binary
*.ico binary
*.jpeg binary
*.jpg binary
*.mp3 binary
*.mp4 binary
*.pdf binary
*.png binary
*.ttf binary
*.woff binary
